body{
    margin: 0%;
    margin-bottom: 0%;
}
#barraSuperior{
    background-color: #0A5786;
    height:10vh;
    width: 100%;
}
.linha1{
  background-color: #e8e5c8;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.separador{
    width: 100%;
    height: 20vh; 
}
.carrosel{
    background-color: #0A5786;
    height:50vh;
    margin: auto;
    width: 70%;
    border-radius: 50px;
}
.rodape{
    background-color: #0A5786;
    height:7vh;
    width:100%;
    position: fixed;
}
.produto1{
    background-color: #2475A8;
    height:50vh;
    width:70%;
    margin:auto;
}
.botao{
    background-color: #FFB246;
    height:5vh;
    width:70%;
    margin: auto;
    border-radius: 50px;
    text-align: center;
}
.texto{
    font-size: 70px;
    color: #FFB246;
    margin-bottom: auto;
}
