body{
    font-family: "Poppins", sans-serif;
    margin: 0%;
    margin-bottom: 0%;
}

h3 {
    margin: 0;
}
#barraSuperior{
    background-color: #0A5786;
    height:13vh;
    line-height: 13vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
}
#barraSuperior h3:not(.logo){
 font-size: 45px;
 margin: 0;
 color: #D0E1EB;
}
.logo{
    font-size: 70px;
    margin: 0;
    color: #FFB246;
    font-weight: 900;
}
.linha1{
  background-color: #e8e5c8;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.separador{
    width: 100%;
    height: 5vh; 
}
.produto{
    background-color: #2475A8;
    height:41vh;
    margin: 0 17%;
    padding-top: 5%;
    border-radius: 10px;
}
.botao{
    background-color: #FFB246;
    height:5vh;
    width:70%;
    margin: auto;
    border-radius: 50px;
    text-align: center;
}
.texto{
    font-size: 70px;
    color: #FFB246;
    margin-bottom: auto;
    line-height: 40vh;
    align-content: center;
}
a{
    color: white;
    text-decoration: none;
}
#rodape{
    background-color: #0A5786;
    height:10vh;
    width: 100%;
    color: #D0E1EB;
    margin: 0;
    line-height: 10vh;
}
.quadrado{
    background-color: #FFB246;
    width: 12%;
    height: 28vh;
    left: 66%;
    position: absolute;
    display: none;
}
.quadrado a {
    font-size: 20px;
}

.textoQuadrado {
    font-size: 25px;
}

#pecas:hover .quadrado{
    display: block;
}
